<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie add</title>
    <link rel='stylesheet' href='/css/style.css' />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>

<body>
    <figure>
        <img src="/img/logo-DH.png" alt="Logo Digital House">
      </figure>
    <h1 class="titulo">Agregar Película</h1>
    <br>
    <section class="formulario">
        <form action="/movies/create" method="POST">
            <label for="title">Title </label>
            <p><input type="text" name="title" id="" value="<%= locals.old && (old.title && old.title ) %>" >
                <br>
                <small class="text-danger ms-2">
                    <%= locals.errors && (errors.title && errors.title.msg) %>
                </small> 
            </p>
          
          
            
            <label for="rating">Rating </label>
            <p><input type="number" name="rating" id="" value="<%= locals.old && (old.rating && old.rating ) %>" > 
                <br>
                <small class="text-danger ms-2">
                    <%= locals.errors && (errors.rating && errors.rating.msg) %>
                 </small>
            
            </p>
           
            <label for="awards">Awards </label>
            <p><input type="number" name="awards" id="" value="<%= locals.old && (old.awards && old.awards ) %>" >
                <br>
                <small class="text-danger ms-2">
                    <%= locals.errors && (errors.awards && errors.awards.msg) %>
                </small> 
            </p>
            <label for="release_date">Release date </label>
            <p><input type="date" name="release_date" id="" value="<%= locals.old && (old.release_date && old.release_date ) %>" >
                <br>
                <small class="text-danger ms-2">
                    <%= locals.errors && (errors.release_date && errors.release_date.msg) %>
                </small> 
            </p>
            <label for="length">Length </label>
            <p><input type="number" name="length" id="" ></p>

            <br>
            <p> <button class="botonAgregar" type="submit">Agregar</button>
            
            <a  class="botonVolver" href="/movies">Listado de Películas</a></p>
        </form>
    </section>
    
</body>

</html>